body {
    font-family: Consolas, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff2bbf;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #ff2bbf;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para el formulario de contacto */
form {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #3f4fa0;
}

/* Estilos para la galería */
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: 70px;
}

.galeria img {
    width: 35%;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.categoria h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.testimonios {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.testimonios .cliente {
    text-align: center;
    max-width: 250px;
}

.testimonios .cliente img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Estilos del pie de página */
footer p {
    font-size: 0.9em;
}

/* Estilos para el mapa */
.mapa iframe {
    width: 50%;
    height: 600px;
    border: none;
    border-radius: 5px;
}
